<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
		  <!-- mybatis控制台LOG输出 -->
        <setting name="logImpl" value="LOG4J2" />
    </settings>
    <!-- 
    <typeAliases>
       <typeAlias type="cn.tedu.ttms.product.entity.Team" alias="team"/>
       <typeAlias type="cn.tedu.ttms.product.entity.Project" alias="project"/>
    </typeAliases>
    -->
    <!-- 
                 为mapper文件中的参数类型,
                 返回值类型定义别名
                 假如是采用package元素定义,
                 那默认类型的别名为类名并且
                 第一个单词的首字母小写.
     -->
    <typeAliases>
      <package name="cn.tedu.ttms.product.entity"/>
    </typeAliases>
</configuration>
